/** == ORANGE AND TAN Color Palette
<palette>
  <color name="Outer Space Crayola" hex="092d34" r="9" g="45" b="52" />
  <color name="Orange Peel" hex="ffa62b" r="255" g="166" b="43" />
  <color name="Cultured" hex="f7f4f3" r="247" g="244" b="243" />
  <color name="Middle Blue" hex="82c0cc" r="130" g="192" b="204" />
  <color name="Teal Blue" hex="347383" r="52" g="115" b="131" />
</palette>

<!-- Coolors Palette Widget -->
      <script src="https://coolors.co/palette-widget/widget.js"></script>
      <script data-id="036597300461979865">new CoolorsPaletteWidget("036597300461979865", ["092d34","ffa62b","f7f4f3","82c0cc","347383"]); </script>
**/

/* SCSS HEX */
$light-blue: #00bfff;
$light-green: #80e5b1;
$light-green2: #49d49d;
$middle-green: #558564;
$dark-green: #564946;
$black: #00000;
$white: #FFFFFF;

/** main color scheme **/
$main-text-color: $black;
$main-bg: $white;
$main-link: $black;
$main-link-hover: $black;
$main-headers: $light-blue;

/** dark-background color scheme **/
$dark-text-color: $black;
$dark-bg: $black;
$dark-link: $black;
$dark-link-hover: $black;
$dark-headers: $black;

/** accent-background color scheme **/
$accent-text-color: $black;
$accent-bg: $black;
$accent-link: $black;
$accent-link-hover: $black;
$accent-headers: $black;
